<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.project_quadruaple.booking.BookingMapper">
<!--    <select id="getBooking">-->
<!--        SELECT-->
<!--        a.booking_id AS bookingId, a.final_payment AS finalPayment,-->
<!--        c.title AS strfTitle, d.pic_name AS strfPic,-->
<!--        CONCAT(-->
<!--        DATE_FORMAT(a.check_in, '%Y-%m-%d ('),-->
<!--        CASE DAYOFWEEK(a.check_in)-->
<!--        WHEN 1 THEN '일' WHEN 2 THEN '월' WHEN 3 THEN '화' WHEN 4 THEN '수'-->
<!--        WHEN 5 THEN '목' WHEN 6 THEN '금' WHEN 7 THEN '토'-->
<!--        END,-->
<!--        DATE_FORMAT(a.check_in, ') %H:%i')-->
<!--        ) AS checkIn,-->
<!--        CONCAT(-->
<!--        DATE_FORMAT(a.check_out, '%Y-%m-%d ('),-->
<!--        CASE DAYOFWEEK(a.check_out)-->
<!--        WHEN 1 THEN '일' WHEN 2 THEN '월' WHEN 3 THEN '화' WHEN 4 THEN '수'-->
<!--        WHEN 5 THEN '목' WHEN 6 THEN '금' WHEN 7 THEN '토'-->
<!--        END,-->
<!--        DATE_FORMAT(a.check_out, ') %H:%i')-->
<!--        ) AS checkOut,-->
<!--        IF(e.review_id IS NULL, 0, 1) AS reviewStatus,-->
<!--        CASE-->
<!--        WHEN a.check_out > NOW() THEN 'progress'  &#45;&#45; 진행 중인 예약-->
<!--        ELSE 'completed'  &#45;&#45; 완료된 예약-->
<!--        END AS bookingStatus-->
<!--        FROM booking a-->
<!--        JOIN menu b-->
<!--        ON a.menu_id = b.menu_id-->
<!--        JOIN stay_tour_restaur_fest c-->
<!--        ON b.strf_id = c.strf_id-->
<!--        LEFT JOIN strf_pic d-->
<!--        ON b.strf_id = d.strf_id-->
<!--        LEFT JOIN review e-->
<!--        ON e.strf_id = b.strf_id-->
<!--        WHERE a.user_id = #{userId}-->
<!--        GROUP BY a.booking_id, c.title, a.check_in, a.check_out, a.final_payment-->
<!--        ORDER BY a.check_out DESC;-->
<!--    </select>-->

<!--    <insert id="postBooking">-->
<!--        INSERT INTO booking a-->
<!--        SET booking_id = #{bookingId}-->
<!--            , check_in = #{checkIn}-->
<!--            , check_out = #{checkOut}-->
<!--            , user_id = #{userId}-->
<!--            , message = #{message}-->
<!--            , menu_id = #{menuId}-->
<!--            , final_payment = #{finalPayment}-->
<!--    </insert>-->

    <select id="postBookingInfo">
        SELECT c.title AS strfName , d.pic_name AS picName, b.price
        FROM booking a
        JOIN menu b
            ON a.menu_id = b.menu_id
        JOIN stay_tour_ restaur_fest c
            ON b.strf_id = c.strf_id
        JOIN strf_pic d
            ON b.strf_id = d.strf_id
        WHERE booking_id = #{bookingId}
    </select>

    <insert id="patchBooking">
        INSERT INTO booking a
        SET a.strf_id = #{strfId}
        , a.check_in = #{checkIn}
        , a.check_out = #{checkOut}
        , a.final_payment = #{finalPayment}
        , a.message = #{message}
        , b.title = #{strfName}
        JOIN stay_tour_restaur_fest b
        ON a.strf_id = b.strf_id
        WHERE a.booking_id = #{bookingId}
    </insert>


    <!-- 예약 등록 -->
    <select id="selExistUserCoupon">
        SELECT
        receive_id
        FROM receive_coupon rc
        WHERE rc.user_id = #{userId}
        AND coupon_id = #{couponId}
    </select>

    <insert id="insBooking" useGeneratedKeys="true" keyProperty="bookingId">
        INSERT INTO booking
        (final_payment, check_in, check_out, user_id, menu_id, tid)
        VALUES
        <foreach collection="orderList" item="menuId" separator=",">
            (#{actualPaid}, #{checkIn}, #{checkOut}, #{userId}, #{menuId.menuId}, #{tid})
        </foreach>
    </insert>

    <insert id="insUsedCoupon">
        INSERT INTO used_coupon
        (receive_id, booking_id)
        VALUES
        (#{receiveId}, #{bookingId})
    </insert>


</mapper>
