<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.project_quadruaple.coupon.CouponMapper">
    <!-- 쿠폰 조회 -->
    <select id="findCouponsByUserId">
        SELECT A.title, A.expired_at AS expiredAt, A.discountper AS discountPer, A.distribute_at AS distributeAt
          FROM coupon A
         INNER JOIN receive_coupon B
            ON A.coupon_id = B.coupon_id
         WHERE B.user_id = #{userId}
    </select>

    <!-- 사용한 쿠폰 조회 -->
    <select id="selUsedCoupon">
        SELECT C.title, C.expired_at AS expiredAt, C.discountper AS discountPer, C.distribute_at AS distributeAt
          FROM used_coupon A
         INNER JOIN receive_coupon B
            ON A.receive_id = B.receive_id
         INNER JOIN coupon C
            ON B.coupon_id = C.coupon_id
         WHERE B.user_id = #{userId}
    </select>

</mapper>
