<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.project_quadruaple.expense.ExpenseMapper">

    <insert id="insDe" useGeneratedKeys="true" keyProperty="deId">
        INSERT INTO daily_expense
        SET `for`=#{forText}
    </insert>

    <insert id="insPaidUser">
        INSERT INTO paid_user
        SET de_id=#{deId}
        , price=#{price}
        , trip_user_id
        =(SELECT trip_user_id
        FROM trip_user
        WHERE user_id=#{userId}
        AND trip_id=#{tripId})
    </insert>

    <insert id="insPaidUserSamePrice">
        INSERT INTO paid_user (de_id, price, trip_user_id)
        SELECT
        #{deId},
        #{price},
        trip_user_id
        FROM trip_user
        WHERE trip_id = #{tripId}
        AND user_id IN
        <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </insert>

    <select id="selExpense">
        SELECT U.user_id
        FROM paid_user P
        LEFT JOIN trip_user TU
        ON TU.trip_user_id=P.trip_user_id
        LEFT JOIN user U
        ON U.user_id=TU.user_id
        LEFT JOIN daily_expense D
        ON D.de_id=P.de_id
        where TU.trip_id = #{tripId}
    </select>

    <select id="selDutchUsers">
        SELECT U.user_id AS userId, U.profile_pic AS profilePic, U.`name`
        FROM user U
        LEFT JOIN trip_user TU
        ON TU.user_id= U.user_id
        WHERE TU.trip_id=#{tripId}
        AND U.user_id NOT IN
        <foreach collection="exceptUsers" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>
</mapper>
