<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.project_quadruaple.memo.MemoMapper">

    <!-- 메모 조회 -->
    <select id="selectMemo" resultType="com.green.project_quadruaple.memo.model.MemoDto">
        SELECT
        memo_id AS memoId,
        trip_id AS tripId,
        user_id AS userId,
        created_at AS createdAt,
        updated_at AS updatedAt,
        content,
        seq,
        day
        FROM memo
        WHERE memo_id = #{memoId}
    </select>

    <!-- 메모 추가 -->
    <insert id="postMemo" useGeneratedKeys="true" keyProperty="scheMemoId">
        INSERT INTO sche_memo
        (trip_id, day, seq, category)
        VALUES
        (#{tripId}, #{day}, #{seq}, 'MEMO')
    </insert>

    <insert id="insertMemo">
        INSERT INTO memo
        (memo_id, trip_user_id, title, content)
        VALUES (#{scheMemoId}, #{tripUserId}, #{title}, #{content})
    </insert>




    <!-- 메모 수정 -->
    <update id="patchMemo">
        UPDATE memo
        SET
        content = #{content}
        WHERE
        memo_id = #{memoId} AND user_id = #{userId}
    </update>

    <!-- 메모 삭제 -->
    <update id="deleteMemo">
        DELETE FROM memo
        WHERE
        memo_id = #{memoId};
        delete from sche_memo
        where
        schedule_memo_id = #{memoId};
    </update>

    <!-- 작성자 확인 -->
    <select id="findMemoOwnerId" resultType="java.lang.Long">
        SELECT user_id
        FROM memo
        WHERE memo_id = #{memoId}
    </select>


</mapper>