<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.project_quadruaple.search.SearchMapper">

    <!-- 여행 지역 검색 쿼리 -->
    <select id="getTripLocation" resultType="com.green.project_quadruaple.search.model.LocationResponse">
        SELECT
        location_id AS locationId,
        title AS locationTitle,
        location_pic AS locationPic
        FROM location
        WHERE title LIKE CONCAT('%', #{search_word}, '%')
    </select>

    <resultMap id="LocationResponseMap" type="com.green.project_quadruaple.search.model.LocationResponse">
        <result property="code" column="code" />
        <result property="Title" column="title" />
        <result property="locationPic" column="location_pic" />
        <result property="locationId" column="location_id" />
    </resultMap>

</mapper>








































