<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.project_quadruaple.user.UserMapper">
    <!-- 이메일 중복 체크 -->
    <select id="isEmailDuplicated">
        SELECT COUNT(*) > 0
          FROM user
         WHERE email = #{email}
    </select>

    <select id="getEmailDuplicateInfo">
        SELECT COUNT(*) AS emailCount
          FROM user
         WHERE email = #{email}
    </select>

    <!-- 회원가입 -->
    <insert id="insUser" keyProperty="userId" useGeneratedKeys="true">
        INSERT INTO user
           SET email = #{email}
             , pw = #{pw}
             , name = #{name}
             , profile_pic = #{profilePic}
             , state = 0
    </insert>

    <insert id="insUserRole">
        INSERT INTO role
        (role, user_id)
        VALUES
        <foreach collection="role" item="item" separator=",">
            (#{item}, #{userId})
        </foreach>
    </insert>

    <select id="findUserByEmail">
        SELECT *
          FROM user
         WHERE email = #{email}
    </select>

    <!-- 로그인 -->
    <select id="selUserByEmail">
        SELECT user_id AS userId, email, pw, name, profile_pic AS profilePic
          FROM user
         WHERE email = #{email}
    </select>

    <!-- 마이페이지 조회-->
    <select id="selUserInfo">
        SELECT user_id AS userId, email, name, profile_pic AS profilePic
          FROM user
         WHERE user_id = #{userId}
    </select>

    <!-- 비밀번호 확인 -->
    <select id="checkPassword">
        SELECT pw
          FROM user
         WHERE user_id = #{userId}
    </select>

    <update id="changePassword">
        UPDATE user
           SET pw = #{pw}
         WHERE user_id = #{userId}
    </update>

    <!-- 마이페이지 수정 -->
    <update id="updUser">
        UPDATE user
        <set>
        <if test=" newUpw != null and newUpw != '' and checkUpw != null and checkUpw != '' " >
            pw = #{newUpw}
        </if>
        <if test=" name != null and name != '' ">
            , name = #{name}
        </if>
        <if test="profilePic != null">
            , profilePic = #{profilePic}
        </if>
        </set>
        WHERE user_id = #{userId}
    </update>

</mapper>
