<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.project_quadruaple.wishlist.WishListMapper">

    <select id="isWishListExists" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM wishlist
        WHERE user_id = #{userId} AND strf_id = #{strfId}
    </select>

    <insert id="insertWishList">
        INSERT INTO wishlist (user_id, strf_id)
        VALUES (#{userId}, #{strfId})
    </insert>

    <delete id="deleteWishList">
        DELETE FROM wishlist
        WHERE user_id = #{userId} AND strf_id = #{strfId}
    </delete>

    <!-- 위시리스트 조회 -->
    <select id="getWishList" parameterType="map" resultType="HashMap">
        SELECT
        a.title,
        d.title AS locationTitle,
        GROUP_CONCAT(DISTINCT f.pic_name) AS strfPic,
        AVG(e.rating) AS ratingAvg,
        COALESCE((SELECT COUNT(*) FROM wishlist WL WHERE WL.strf_id = a.strf_id), 0) AS wishCnt,
        COALESCE((SELECT COUNT(*) FROM review RV WHERE RV.strf_id = a.strf_id), 0) AS ratingCnt,
        a.strf_id,
        a.category
        FROM stay_tour_restaur_fest a
        LEFT JOIN wishlist b ON a.strf_id = b.strf_id
        LEFT JOIN location_detail c ON a.location_detail_id = c.location_detail_id
        LEFT JOIN location d ON c.location_id = d.location_id
        LEFT JOIN review e ON a.strf_id = e.strf_id
        LEFT JOIN strf_pic f ON f.strf_id = a.strf_id
        WHERE b.user_id = #{userId}
        GROUP BY a.strf_id, a.title, d.title, a.category
        ORDER BY b.created_at DESC
        LIMIT #{startIdx} , #{size}
    </select>


</mapper>